#mw-head #p-search {
  display: none;
}

#mw-panel #p-search {
  margin: 0;
}

#p-search #simpleSearch {
  margin: 0 auto;
  width: 100%;
  padding-right: 0px;
}

#p-search #simpleSearch input:first-child {
  width: 90%;
}

/* search results */
.mw-search-result-heading {
  
}

.searchresult {
  display: none;
}

.mw-search-result-data {
  display: none;
}

.searchresults .mw-search-results li {
  padding-bottom: 1.2em;
  list-style: disc;
  margin-left: 1vw;
}