
Trabajando en Plantilla:Fuentes - sin terminar todavia



{{#foreach: $n$ | #[{{{link$n$}}} {{{anchor$n$}}}] }}<br />

#[http://delsectorsocial.org/index.php?title=Persona_usuaria_de_los_servicios_de_salud_mental Persona usuaria de los servicios de salud mental]


- terminos recomendados los links apuntan siempre a la wiki

- en terminos recomendados, y fuentes ponerles bullets y no numeros

- Campañas relacionadas: lista de links y descripciones
The R-word, es una campaña americana (en inglés) en la que se busca que las personas adhieran y firmen un petitorio: "Adhiero y apoyo la eliminación de la palabra con R del discurso cotidiano, y promuevo la aceptación y la inclusión de las personas con discapacidad intelectual"

- sacar las flechas de los links




Fuentes:

<noinclude>
{{
Fuentes | 
frase 1,link1 | 
frase 2,link2
}}
</noinclude>



Listado de links:

{{
ListadoLinks |
w,l
}}




3 templates:

1. Alternativas
2. Fuentes
3. Relacionados
4. Categorias




- poner la palbra
	poner frase "evitar su uso, ver recomendados"


@fernandogabrieli, la fecha de cuando fue incluida la palabra me parece que no es muy relevante. Yo pondría solamente la palabra, pero si te parece poner un poco de la descripción, veamos como queda. Vemos y después nos fijamos si tenemos que rever el formato de descripción... Quizás vamos a tener que poner la frase "recomendados evitar su uso " al principio de todo, para que en esa pagina de resultados se vea antes de entrar en cada artículo.






















- Armar los templates x separado usando: http://delsectorsocial.org/index.php?title=Protocolo_para_crear_entradas


MediaWiki:Group-ninja (content: Ninjas)
MediaWiki:Group-ninja-member (content: ninja)
MediaWiki:Grouppage-ninja (content: Project:Ninjas)


Administradores
Editores
Todos

540x960
360x640
720x1280
720x1280
320x534
480x800




















Preguntas:

[ ] En los links,  se pueden sacar las flechitas y que quede solo las palabras que sean el hipervínculo?

Si, los sacamos


[ ] En la sección de fuentes,  se podrá poner en el hipervínculo "open blank" para que los links se abran en hojas aparte y no se nos vayan los lectores!

Si srta, lo hacemos


[ ] Cuando quise hacer el listado para abajo,  tuve que poner el <br> porque sino me separaba cada ítem con "," como es que algunos "enters " reconoce y otros no?

Me pasas el texto para verlo?


[ ] Crear una página de inicio,  link al ensayo?

Si claro, podemos apuntar Home a esa no? Necesito que me pases el nombre de la pagina que queres usar


[ ] Crear una página de cómo crear una entrada y agregarla al sidebar

Lo hacemos


[ ] Puede ser que el logo en la wiki queda medio achatada,  no tan estilizado como es? Sabemos si nos pide un tamaño específico? Parecería que fuera cuadrado y el arbol es rectangular.

Si, actualmente lo deje sin ajustar, pero ahora q vos me diste el definitivo, lo cambio :)


[ ] Pedido para el diseñador,  podrá armar un pequeño manual de uso del logo,  del estilo de tamaños,  cual es el menor tamaño al que se puede llevar,  cuáles son los grosores de las líneas y tamaños de los círculos,  etc. Contarle que quedó el primero!  Si me lo puede pasar en Ai, png y jpg? No tengo actualmente los programas de diseño,  sino se lo pediría solo en Ai y yo lo paso

Le consulto


[ ] Que tipo de tipografía ,  o si me puede pasar algún nombre de la que crea que coincide con el logo. Estamos viendo si queda del sector social o otro nombre... Como lo ubicaria con respecto al logo?  Debajo,  de Costado, semicircular... Puede comenzar con del sector social aunque después lo cambiemos.

Queres q le pida de agregar el nombre al logo y la tipografia?


[ ] La URL de puede cambiar?  sacarle el index.php=?. Que la URL sea solamente www.delsectorsocial.org/Frase_ejemplo

Tengo que verlo, calculo que si


[ ] para adjuntar videos de YouTube o imágenes,  se podrá embeber el código?  igual con las imágenes. El código de las entradas es html? Quizás por el momento podemos insertar imágenes y video así por el código... Que te parece?
Ahora salí de casa pero cuando llegue lo voy a probar!!!!

Tengo que verlo, quizas podemos embeberlo, probaste directamente vos y no te anduvo?












Para crear una pagina nueva:

- En la barra de navegacion colocas:
	http://delsectorsocial.org/index.php/<frase nueva con espacios>
	
- Para armar la pagina de ejemplo:
	http://delsectorsocial.org/index.php/Frase Ejemplo

- Credenciales
	Usuario: Admin
	Password: fjhu823
	


Poner el buscador en la sidebar izq


Cada palabra:
	Palabra
	Descripcion
	Terminos Alternativos
	Fuentes
	#4 Del lado derecho poner Terminos Relacionados <- template
		- Sidebar derecha
	
	#1 Tags
	#2 Imagenes o videos
	#3 Foro


Cuando no estas logueado:
	- Remover Crear una cuenta
	- Remover Acceder
	- Remover Editar





























Set logo.

Change "marcelab" within the code with "delsector".

Make the local env to be exactly the same as the remote env.

Automate updating files through FTP. Do not override equal files, just different ones.








------------------------------


12.20hs


R: Seleccione el sitio ciudad.com.ar para tomar los resultados porque no tenemos aun el nuestro configurado. Cuando eso este solo van a aparecer entradas de la Wiki como vos decias.


PENDIENTE: ver si anda al subirlo online : Si el buscador funciona con el autocomplete,  puede ir directo a la entrada correspondiente,  pero si el usuario no lo selecciona,  puede ir a esa página de resultados. 

	- Autocomplete???

R: Estuve revisando el autocomplete para configurarlo correctamente pero no pude hacerlo andar en mi maquina en forma local. Necesitaria el acceso al hosting (sitio definitivo) para instalar la Wiki y probarlo ahi. Intente con lo que me habias pasado pero falta el email para ingresar desde https://delsectorsocial.org:2096/
	

Lo otro que te quería consultar es que en esa misma página cada resultado trae una imagen. Como te dije prefiero que los resultados se muestren solo como un listado,  pero sí me interesa lo de las imágenes dentro de las definiciones.
Uno de los proyectos que tenemos es hacer un concurso de fotografía,  asique estaría copado poder agregarlas! Además de algunas campaña quizás gráficas que estén relacionadas. Se podrán embeber videos de YouTube también? 

R: Por lo que veo en los resultados de Google, eligen una de las imagenes de la pagina para mostrar en sus resultados y si es un video el primer fotograma (la imagen inicial). Si queres podemos investigarlo.

Otra consulta,  se podrá achicar un poco el ancho de las páginas?  Que las líneas no sean tan largas. Las líneas largas dificultan la lectura porque tenes que mover la cabeza. Si,  suena exagerado pero te juro que es así!  De costado podemos ponerle otras cosas,  definiciones cortas,  recuadros, organizaciones que en el mundo que trabajen está temática con sus links, la nube de concepto relacionados, listado de las palabras más buscadas...  Podemos pensar alternativas...

R: Claro.


Otra cosa,  vos físicamente dónde estás?  Si querés la semana que viene nos podemos juntar para conocernos y ver avances en vivo. Además de que me muestres como se va usando esto!  Jajajaja. La semana que viene,  o la otra,  o cuando a vos te parezca.

R: Estoy en Caballito o en Microcentro, vos?




----------------------



















Layout:

- on the right "Cero" logo


Hola Fernando! 
Te llegaron mis mails del otro día?

Con respecto a lo que me preguntaste sobre la sección de navegación de las izquierda, se me ocurre que puede ser :

- Home (se puede diseñar una hombre que tenga un bloque de buscador - tipo Google - y quizás un mini párrafo explicativo)

-El buscador con autocomplete

- Cambios recientes (es decir palabras nuevas agregadas)

- Donaciones (link a la página de donaciones de la página de Cero)

- Notificar un error (formulario con mail,  nombre, termino relacionado al error,  comentario)

- Imprimir / exportar :
      -Crear un libro
      - descargar como PDF
      - Versión para imprimir























- See if we can use templates for rendering the Alternative phrases, so that if the format needs to be changed it will be easy and fast.


--------------

1. Make a list of phrases or words.
	- Words will have a description.
	- Words will have alternatives that are not offensive.
		- Is there a plugin to add visible tags to the documents that i can handle as alternative terms?
			Identify certain words so they are something different than the others: this way i can work with them in the future if a new requirement is needed.
	
2. Add google search to the Wiki.*